NationalParks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://lmvillal.github.io/cse_445/"
           xmlns="https://lmvillal.github.io/cse_445/"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

<!-- Root --> 
<xs:element name="NationalParks">

        <xs:complexType>
        
            <xs:sequence>
            
                <xs:element name="NationalPark" maxOccurs="unbounded">
                <!-- NationalPark child elements --> 
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string"/>
                            <xs:element name="Phone" type="xs:string" maxOccurs="unbounded"/>

                            <xs:element name="Address">
                            <!-- Address child elements --> 
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Number" type="xs:string"/>
                                        <xs:element name="Street" type="xs:string"/>
                                        <xs:element name="City" type="xs:string"/>
                                        <xs:element name="State" type="xs:string"/>
                                        <xs:element name="Zip" type="xs:string"/>                                    
                                    </xs:sequence>

                                    <xs:attribute name="NearestAirport" type="xs:string" use="required"/>

                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>

                        <xs:attribute name="Rating" type="xs:string" use="optional"/>

                    </xs:complexType>

                </xs:element>
                
            </xs:sequence>

        </xs:complexType>

    </xs:element>

</xs:schema>
